* {
  margin: 0;
  padding: 0;
  text-emphasis: none;
  text-decoration: none;
  background: #252954;
}

.all::before {
  content: "";
  position: absolute;
  width: 400px;
  height:400px;
  left: 50%;
  top: 138px;
  filter: blur(250px);
  background-color: #9477a1;
}

.all::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  left: -10%;
  top: 450px;
  background-color: #18B2DE;
  filter: blur(100px);
}

.alogo {
  height: 100%;
  background: linear-gradient(93.51deg, #00eeff 2.84%, #00eeff 99.18%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  float: left;
  padding-left: 70px;
}

.navlogo {
  margin: 20px;

}

.navbar {
  margin: 20px;
}

ul li{
  color: #fff;
  float: left;
  padding: 10px;
  list-style: none;
  padding-top: 12px;
  margin-right: 20px;

}

ul li:hover {
  color: #c4c4c4;
}

.navbar div, .navbar div ul  {
  display: inline;
  font-size: 18px;
}

.login {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  border: 2px solid #fff;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  margin-left: 100px;
}

.login:hover {
  color: #c4c4c4;
  border-color: #c4c4c4;
  /* ptransform: skew(-0.06turn, 18deg); */
}

.signup {
  font-weight: 600;
  font-size: 15px;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 20px;
}

.signup:hover {
  color: #c4c4c4;
  border-color: #c4c4c4;
}

ul li:hover {
  color: #c4c4c4;
}

.navhome {
  background: linear-gradient(93.51deg, #ad7814 2.84%, #00ddfa 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 280px;
}







